<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_starter"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeStarter"
        tools:targetApi="31">
        <activity
            android:name=".navdrawer.NavDrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.ComposeStarter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".temperature.TemperatureActivity"
            android:exported="true"
            android:label="@string/title_activity_temperature"
            android:theme="@style/Theme.ComposeStarter">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".jetcoffee.JetCoffeeActivity"
            android:exported="true"
            android:label="@string/title_activity_jet_coffee"
            android:theme="@style/Theme.ComposeStarter">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".starter.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeStarter">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>